{% extends "core/base.html" %}
{% block content %}
  <h2>Detalle de la Promoción: {{ promocion.nombre }}</h2>

  <p><strong>Empresa:</strong> {{ promocion.empresa.nombre }}</p>
  <p><strong>Sucursal:</strong> {{ promocion.sucursal.nombre }}</p>
  <p><strong>Canal:</strong> {{ promocion.canal.nombre }}</p>
  <p><strong>Tipo Cliente:</strong> {{ promocion.tipo_cliente }}</p>
  <p><strong>Tipo de Promoción:</strong> {{ promocion.get_tipo_display }}</p>
  <p><strong>Aplica por:</strong> {{ promocion.get_aplica_por_display }}</p>
  <p><strong>Escalonada:</strong> {{ promocion.es_escalonada|yesno:"Sí,No" }}</p>
  <p><strong>Vigencia:</strong> {{ promocion.fecha_inicio }} a {{ promocion.fecha_fin }}</p>

  <hr>
  <h3>Condiciones</h3>
  <a href="{% url 'crear_condicion' promocion.id %}" class="button is-link">➕ Añadir Condición</a>

  <ul>
    {% if escala.condicion.articulo %}
      {{ escala.condicion.articulo.descripcion }}
    {% else %}
      (Sin artículo)
    {% endif %}
  </ul>

  <hr>
  <h3>Beneficios</h3>

  <ul>
    {% for beneficio in beneficios %}
      <li>
        Tipo: {{ beneficio.get_tipo_display }}
        {% if beneficio.articulo %}| Artículo: {{ beneficio.articulo.descripcion }}{% endif %}
        {% if beneficio.cantidad %}| Cantidad: {{ beneficio.cantidad }}{% endif %}
        {% if beneficio.porcentaje_descuento %}| % Descuento: {{ beneficio.porcentaje_descuento }}{% endif %}
      </li>
    {% empty %}
      <li>No hay beneficios definidos.</li>
    {% endfor %}
  </ul>

  <hr>
  <h3>Escalas</h3>


  <a href="{% url 'listar_promociones' %}" class="button is-light">← Volver al listado</a>
{% endblock %}