{% extends "base.html" %}

{% block content %}
<h2>Lista de Promociones</h2>

<a href="{% url 'crear_promocion' %}" class="btn btn-success">Crear nueva promoción</a>
<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Empresa</th>
            <th>Canal</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for promo in promociones %}
        <tr>
            <td>{{ promo.nombre }}</td>
            <td>{{ promo.empresa.nombre }}</td>
            <td>{{ promo.canal.nombre }}</td>
            <td>{{ promo.fecha_inicio }}</td>
            <td>{{ promo.fecha_fin }}</td>
            <td>{{ promo.get_tipo_display }}</td>
            <td>
                <a href="{% url 'editar_promocion' promo.id %}" class="btn btn-sm btn-primary">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}